
<h2 class='featuredTitle'>Featured From Our Newest Arrivals</h2>

<div class='featuredContainer'>

  <div class='collectionContainer'>
  <a class='imgLink' href='https://dearjohndenim.com/collections/shop-essential-core-jeans'>
<img id='featuredImg' class='lazyload lazyload-fade' loading="lazy"
  data-aos="fade" data-src="https://cdn.shopify.com/s/files/1/1024/2207/files/IMG_0961_copy.jpg?v=1666380847" alt="Explore Our Essential Core Jeans Collection" >
<h3  class='imgTitle'>Essential Core Jeans</h3>
  </a>
       <p class='featureImgText'>Most worn staples, just right for any occasion.</p>
    <a href="https://dearjohndenim.com/collections/shop-essential-core-jeans">
    <button class='featureButton'>SHOP NOW</button>
    </a>
</div>


<div class='collectionContainer'>
<a class='imgLink' href="https://dearjohndenim.com/collections/shop-new-arrivals">

  
<video  id='featuredImg' class='lazyautosizes lazyloaded' width="100%" height="auto" autoplay="autoplay" loop="true" muted default='muted' playsinline poster='https://cdn.shopify.com/s/files/1/1024/2207/files/placeholder.jpg?v=1666985880'>
    <source alt="sail into the sunset with Dear John's bottoms collection"
class='lazyautosizes lazyloaded' src="https://cdn.shopify.com/videos/c/o/v/d66a7a433912408a8497d0e6426ddfc1.mp4"
            type="video/webm">
    <source 
class='lazyautosizes lazyloaded' src="https://cdn.shopify.com/videos/c/o/v/d66a7a433912408a8497d0e6426ddfc1.mp4"
            type="video/mp4">
    Sorry, your browser doesn't support embedded videos.
</video>
  
<h3 class='imgTitle'>Holiday New Arrivals</h3>
</a>
    <p class='featureImgText'>Best of Ensembles, ever ready for the moments.</p>
  <a href="https://dearjohndenim.com/collections/shop-new-arrivals">
  <button class='featureButton'>SHOP NOW</button>
  </a>
</div>

  <div class='collectionContainer'>
<a class='imgLink' href="https://dearjohndenim.com/collections/outerwear-edit"> 
<img id='featuredImg' class='lazyload lazyload-fade'
  data-aos="fade" data-src="https://cdn.shopify.com/s/files/1/1024/2207/files/outerWearSqr.jpg?v=1669687060" alt="Explore Our Outerwear Edit Collection" >
<h3  class='imgTitle'>Outerwear Edit</h3>
</a>
      <p class='featureImgText'>Jackets and sweaters that will make you look put-together.</p>
    <a href="https://dearjohndenim.com/collections/outerwear-edit">
    <button class='featureButton'>SHOP NOW</button>
    </a>
  </div>

    </div>
{% stylesheet %}

#featuredImg:hover{
box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
transform: scale(1.02);
}



  @media screen and ( min-width: 250px) and (max-width:589px){
    .featuredContainer{
/*       padding:1%; */
    display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 80%;
      align-items: center;
      justify-content: center;
      margin:auto;
      align-self: center;
    }
    
    #featuredImg {
  margin:auto;
align-self:center;
width:90vw;
  height: auto;
transition: 0.6s all ease-in-out;
margin-bottom: 2rem;
/*   border-radius: 100%; */
margin: auto;

}

.featuredTitle{
 display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
margin:auto;

font-family: 'IBM Plex Sans', sans-serif;
}
  
.imgTitle{
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
padding-top: 5%;
font-family: 'IBM Plex Sans', sans-serif; 
}
.imgTitle:hover{
text-decoration:underline;}

.featureImgText{
  text-align: center;
  align-content: center;
}

  .featureButton{
    border-radius: .5px;
    align-self:center;
margin:auto;
/*   position:relative; */
  background-color: #919DA9;
  color: white; 
  height: 45px;
  width: 115px;
}
    

  .collectionContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
width: 500px;
    padding: 1.5rem;
  }
}

  @media screen and (min-width: 590px) and (max-width: 1466px){

.imgLink{ 
margin:0.5%;
justify-content:center;

}
.featuredContainer{
 display: flex;
flex-direction: row;
flex-wrap: nowrap;
width:100%; 
align-items: center;
align-content: center;
  justify-content:center;

margin: auto; 

}

  .collectionContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
  }

#featuredImg {
  margin:auto;
/*   padding: .5rem; */
width:100%;
  height: auto;

transition: 0.6s all ease-in-out;
margin-bottom: 2rem;
/*   border-radius: 100%; */
margin: auto;

}

.featuredTitle{
 display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
margin:auto;

font-family: 'IBM Plex Sans', sans-serif;
}
  
.imgTitle{
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
padding-top: 5%;
font-family: 'IBM Plex Sans', sans-serif; 
}
.imgTitle:hover{
text-decoration:underline;}

.featureImgText{
  text-align: center;
  align-content: center;
}

  .featureButton{
        border-radius: .5px;
margin:auto;
/*   position:relative; */
  background-color: #919DA9;
  color: white; 
  height: 45px;
  width: 115px;
}
   
}

 
 @media screen and (min-width: 1169px) and (max-width: 1467px) {

.imgLink{ 
margin:0.5%;
justify-content:center;

}
.featuredContainer{
 display: flex;
flex-direction: row;
flex-wrap: nowrap;
width:80%;
align-items: center;
align-content: center;
  justify-content:center;
padding: .5rem;
margin: auto; 

}

  .collectionContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
width: 600px;
    padding: 1.5rem;
  }

#featuredImg {
  margin:auto;
/*   padding: .5rem; */
width:100%;
  height: auto;

transition: 0.6s all ease-in-out;
margin-bottom: 2rem;
/*   border-radius: 100%; */
margin: auto;

}

.featuredTitle{
 display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
margin:auto;

font-family: 'IBM Plex Sans', sans-serif;
}
  
.imgTitle{
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
padding-top: 5%;
font-family: 'IBM Plex Sans', sans-serif; 
}
.imgTitle:hover{
text-decoration:underline;}

.featureImgText{
  text-align: center;
  align-content: center;
}

  .featureButton{
margin:auto;
/*   position:relative; */
  background-color: #919DA9;
  color: white; 
  height: 45px;
  width: 115px;
}
     .featureButton:hover{
    background-color:rgba(145,157,169, 0.9)
  }
}


@media screen and (min-width: 1468px){
  .imgLink{ 
margin:0.5%;
justify-content:center;

}
.featuredContainer{
 display: flex;
flex-direction: row;
flex-wrap: nowrap;
width:80%;
align-items: center;
align-content: center;
  justify-content:center;
padding: .5rem;
margin: auto; 

}

  .collectionContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
width: 600px;
    padding: .5rem;
  }

#featuredImg {
  margin:auto;
/*   padding: .5rem; */
width:100%;
  height: auto;

transition: 0.6s all ease-in-out;
margin-bottom: 2rem;
/*   border-radius: 100%; */
margin: auto;

}

.featuredTitle{
 display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
margin:auto;

font-family: 'IBM Plex Sans', sans-serif;
}
  
.imgTitle{
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
padding-top: 5%;
font-family: 'IBM Plex Sans', sans-serif; 
}
.imgTitle:hover{
text-decoration:underline;}

.featureImgText{
  text-align: center;
  align-content: center;
}

  .featureButton{
margin:auto;
/*   position:relative; */
  background-color: #919DA9;
  color: white; 
  height: 45px;
  width: 115px;
}
  .featureButton:hover{
    background-color:rgba(145,157,169, 0.9)
  }
}
  
{% endstylesheet %}

{% javascript %}
{% endjavascript %}



{% schema %}
  {
    "name": "3ColumnFeature",
    "settings": [], 
    "presets": [
      {
        "name": "3ColumnFeature"
      }
    ]
  }
{% endschema %}



