<h1 id='circleTitle'>Circle of Colors</h1>
<div class='circleofColorsMainContainer'>
<div class='circleOfColorsContainer'>

<div class='slider-container-color'>
  <div class='colorContainer'>
    <img id='f1' class='colorContainerImg' alt='product image' src='https://cdn.shopify.com/s/files/1/1525/7518/files/tan.png?v=1666907323' onclick="changeProductF1()"/>
    <img id='f2' class='colorContainerImg' alt='product image' src='https://cdn.shopify.com/s/files/1/1525/7518/files/000.png?v=1666907004' onclick="changeProductF2()"/>
    <img id='f3' class='colorContainerImg' alt='product image' src='https://cdn.shopify.com/s/files/1/1525/7518/files/green_bdc04e4f-899f-4682-8eab-0df90319a832.png?v=1666907323' onclick="changeProductF3()" />
    <img id='f4' class='colorContainerImg' alt='product image' src='https://cdn.shopify.com/s/files/1/1525/7518/files/red_f0286602-2032-4798-82b3-f273da1ca0ae.png?v=1666907324' onclick="changeProductF4()"/>
  </div>
</div>
  
<!--   <div class='productContainer'>
    
    <div id='mainFrameOne' >
      <img class='productImg' src='https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3050GZB_FRONT.jpg?v=1663884875'>
      <img class='productImg' src='https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3050GZB_FRONT.jpg?v=1663884875'>
      <img class='productImg' src='https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3050GZB_FRONT.jpg?v=1663884875'>
    </div>

    <div id='mainFrameTwo' >
      <img class='productImg' src='https://cdn.shopify.com/s/files/1/1525/7518/files/VCWV5081AOD_SIDE.jpg?v=1663885928'>
      <img class='productImg' src='https://cdn.shopify.com/s/files/1/1525/7518/files/VCWV5081AOD_SIDE.jpg?v=1663885928'>
      <img class='productImg' src='https://cdn.shopify.com/s/files/1/1525/7518/files/VCWV5081AOD_SIDE.jpg?v=1663885928'>
    </div>

    <div id='mainFrameThree'>
      <img class='productImg' src='https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3041ORE_FULL2.jpg?v=1663883846'>
      <img class='productImg' src='https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3041ORE_FULL2.jpg?v=1663883846'>
      <img class='productImg' src='https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3041ORE_FULL2.jpg?v=1663883846'>
    </div>

    <div id='mainFrameFour'>
      <img class='productImg' src='https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3054RHU_SIDE.jpg?v=1663883668'>
      <img class='productImg' src='https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3054RHU_SIDE.jpg?v=1663883668'>
      <img class='productImg' src='https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3054RHU_SIDE.jpg?v=1663883668'>
    </div>
  </div>
 -->
<div class="mainContainerColors" >
  
  <div id='mainFrameOne'>
    <div class="slider-container-color" id="new-products-color">
      <div class="slides-container-color" >
        <ul class="slider-list-color">
          
          <li class="slider-item-color">
            <a href="https://anotherloveclothing.com/collections/esther">
              <img class='lazyload lazyload-fade' loading="lazy"
  data-aos="fade" id='productImg1' src="https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3052Y2BAR_FRONT.jpg?v=1663885214" alt="Explore Esther Collection" />
            </a>
            <a href='https://anotherloveclothing.com/collections/esther'>
              <h3 class='imgSlideTitleColor'>Esther V-Neck Tank Black</h3>
            </a>
          </li>
                    <li class="slider-item-color">
            <a href="https://anotherloveclothing.com/collections/sophie">
              <img class='lazyload lazyload-fade' loading="lazy"
  data-aos="fade" id='productImg2' src="https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3052Y2BAR_FRONT.jpg?v=1663885214" alt="Explore Sophie Collection" />
            </a>
            <a href='https://anotherloveclothing.com/collections/sophie'>
              <h3 class='imgSlideTitleColor'>Esther V-Neck Tank Black</h3>
            </a>
          </li>
                           <li class="slider-item-color">
            <a href="https://anotherloveclothing.com/collections/siena-collection">
              <img class='lazyload lazyload-fade' loading="lazy"
  data-aos="fade" id='productImg3' src="https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3052Y2BAR_FRONT.jpg?v=1663885214" alt="Explore Siena Collection" />
            </a>
            <a href='https://anotherloveclothing.com/collections/siena-collection'>
              <h3 class='imgSlideTitleColor'>Esther V-Neck Tank Black</h3>
            </a>
          </li>
                 <li class="slider-item-color">
            <a href="https://anotherloveclothing.com/collections/matilda">
              <img class='lazyload lazyload-fade' loading="lazy"
  data-aos="fade" id='productImg4' src="https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3052Y2BAR_FRONT.jpg?v=1663885214" alt="Explore Matilda Collection" />
            </a>
            <a href='https://anotherloveclothing.com/collections/matilda'>
              <h3 class='imgSlideTitleColor'>Esther V-Neck Tank Black</h3>
            </a>
          </li>
          <li class="slider-item-color">
            <a href="https://anotherloveclothing.com/collections/cleo">
              <img class='lazyload lazyload-fade' loading="lazy"
  data-aos="fade" id='productImg5' src="https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3052Y2BAR_FRONT.jpg?v=1663885214" alt="Explore Cleo Collection" />
            </a>
            <a href='https://anotherloveclothing.com/collections/cleo'>
               <h3 class='imgSlideTitleColor'>Esther V-Neck Tank Black</h3>
            </a>
          </li>
          <li class="slider-item-color">
            <a href="https://anotherloveclothing.com/collections/julie">
              <img class='lazyload lazyload-fade' loading="lazy"
  data-aos="fade" id='productImg6' src="https://cdn.shopify.com/s/files/1/1525/7518/files/VCSW3052Y2BAR_FRONT.jpg?v=1663885214" alt="Explore Julie Collection" />
            </a>
            <a href='https://anotherloveclothing.com/collections/julie'>
              <h3 class='imgSlideTitleColor'>Esther V-Neck Tank Black</h3>
            </a>
          </li>
        </ul>
      </div>
      <div class="slider-arrows-colors">
        <button type="button" class="slider-arrow-prev-color"><</button>
        <button type="button" class="slider-arrow-next-color">></button>
      </div>
    </div>
  </div>
          
</div>

        </div>

{% stylesheet %}
  .circleofColorsMainContainer{
/*     background:  url("https://cdn.shopify.com/s/files/1/1525/7518/files/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-products_copy.jpg?v=1666904017") no-repeat fixed center;  */
    width: 100%;
    height: auto; 
  }
  #circleTitle{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .circleOfColorsContainer{

    display:flex;
    margin:auto;
    align-items: center;
    align-content:center;
    justify-content:center; 
    width: 70%;
  }
  .colorContainer{
    float:right;
  width:96%;
  max-width: 1300px;
  margin: auto;
  }
  #f1{
    
    border-top: 20px solid #8A2621;
    border-left: 20px solid #8A2621;
/*     background-color: #56533D !important; */
  }
  #f1:hover{
        border: none !important;
  }
  #f2{
    
    border-top: 20px solid #56533D;
    border-right: 20px solid #56533D;
/*     background-color:#8A2621 !important; */
  }
  #f2:hover{
        border: none !important;
  }
  #f3{
    border-bottom: 20px solid #B97F89;
    border-left: 20px solid #B97F89;
/*     background-color: #DAA17B; */
  }
  #f3:hover{
        border: none !important;
  }
  #f4{
    border-bottom: 20px solid  #DAA17B; 
  border-right: 20px solid  #DAA17B;
/*     background-color:#B97F89; */
  }
  #f4:hover{
        border: none !important;
  }
  .colorContainerImg{
      transition: all .2s ease-in-out; 
     float:left;
   width: 50%;
   height: 50%;
  }
  .colorContainerImg:hover {
        transform: scale(1.1); 
  }
/*   .productContainer{
    display:flex;
  }
  .productImg{
    width:25%;
    height:auto;
    margin:auto;
  } */
  
/*   #mainFrameOne{
    display:block;
  }
  #mainFrameTwo{
    display:none;
  }
  #mainFrameThree{
    display:none;
  }
  #mainFrameFour{
    display:none;
  } */


  
  .mainContainerColors {
  width:96%;
  max-width: 1300px;
  margin: auto;
}

/* Slider styles */

.slider-container-color {

  padding: 10px 0;
/*   background-color: #fff; */
  margin: auto;
  overflow: hidden;
  width: 85%;
/*   max-height: 100vh; */
  height:auto;

}

.slides-container-color {
/*   display:flex;
margin:auto; */
  padding:10px;
}

.slider-list-color {
  list-style-type: none;
/*   margin: auto; */
  padding: 0;
  display: flex;
  align-self:center;
  align-items:center;
  justify-content:center;
  overflow: hidden;
  transition: 1s;
  max-height: calc(100vh - 80px);
}

.slider-item-color {
/*   margin:auto; */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
/*   background-color: #D8BEB8; */
  margin: 0 16px -4px 0;
  min-height: 150px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.slider-item-color img{
  width: 100%;
}

.slider-arrows-colors {
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 0 10px;
  margin-top: 10px;
position: realative;
}

.slider-arrow-next-color {
  margin-top: -25%;
  width: 4%;
top:50%;
    transform: translateY(-50%);
  right: 10px;
  border: none;
/*   background-color:rgba(255,255,255,0.3); */
  background-color:white;
  color: #212121;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.slider-arrow-prev-color{
margin-top: -25%;
  width: 4%;
  top:50%;
    transform: translateY(-50%);
  left: 10px
   border: none;
/*   background-color:rgba(255,255,255,0.3);*/
  background-color:white;
  color: #212121;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
  
.slider-arrow-prev-color:hover,
.slider-arrow-next-color:hover {
  background-color: white;
  color: silver;
}
  .imgSlideTitleColor{
    color: black;
    text-decoration: none;
    font-weight:385;
/*     justify-content: flex-start;
    align-items:flex-start;
    align-content:flex-start;
    align-self:center; */
  }
  
.sliderTitle{
  margin-top: 3%;
  margin-bottom: 2%;
}
  
{% endstylesheet %}

{% javascript %}
  'use strict';
  window.changeProductF1= changeProductF1;
  window.changeProductF2 = changeProductF2;
  window.changeProductF3 = changeProductF3;
  window.changeProductF4 = changeProductF4;
  
  function changeProductF1(){
    console.log('click F1');
    let productImg1 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1332M2WHT_SIDE.jpg?v=1659261963';
    let productImg2 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1332M2WHT_SIDE.jpg?v=1659261963';
    let productImg3 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1332M2WHT_SIDE.jpg?v=1659261963';
    let productImg4 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1332M2WHT_SIDE.jpg?v=1659261963';
    let productImg5 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1332M2WHT_SIDE.jpg?v=1659261963';
    let productImg6 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1332M2WHT_SIDE.jpg?v=1659261963';

        document.getElementById('productImg1').src = productImg1.replace()
        document.getElementById('productImg2').src = productImg2.replace()
        document.getElementById('productImg3').src = productImg3.replace()
        document.getElementById('productImg4').src = productImg4.replace()
        document.getElementById('productImg5').src = productImg5.replace()
        document.getElementById('productImg6').src = productImg6.replace()
  };
  function changeProductF2(){
    console.log('click F2');
    let productImg1 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1332M2DGR_FRONT.jpg?v=1656723204';
    let productImg2 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1332M2DGR_FRONT.jpg?v=1656723204';
    let productImg3 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1332M2DGR_FRONT.jpg?v=1656723204';
    let productImg4 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1332M2DGR_FRONT.jpg?v=1656723204';
    let productImg5 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1332M2DGR_FRONT.jpg?v=1656723204';
    let productImg6 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1332M2DGR_FRONT.jpg?v=1656723204';

        document.getElementById('productImg1').src = productImg1.replace()
        document.getElementById('productImg2').src = productImg2.replace()
        document.getElementById('productImg3').src = productImg3.replace()
        document.getElementById('productImg4').src = productImg4.replace()
        document.getElementById('productImg5').src = productImg5.replace()
        document.getElementById('productImg6').src = productImg6.replace()
  };
  function changeProductF3(){
    console.log('click F3');
    let productImg1 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1002WHT_SIDE_7e55a1e5-ff04-486e-aeb7-3cb3cc180378.jpg?v=1659261047';
    let productImg2 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1002WHT_SIDE_7e55a1e5-ff04-486e-aeb7-3cb3cc180378.jpg?v=1659261047';
    let productImg3 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1002WHT_SIDE_7e55a1e5-ff04-486e-aeb7-3cb3cc180378.jpg?v=1659261047';
    let productImg4 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1002WHT_SIDE_7e55a1e5-ff04-486e-aeb7-3cb3cc180378.jpg?v=1659261047';
    let productImg5 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1002WHT_SIDE_7e55a1e5-ff04-486e-aeb7-3cb3cc180378.jpg?v=1659261047';
    let productImg6 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1002WHT_SIDE_7e55a1e5-ff04-486e-aeb7-3cb3cc180378.jpg?v=1659261047';

        document.getElementById('productImg1').src = productImg1.replace()
        document.getElementById('productImg2').src = productImg2.replace()
        document.getElementById('productImg3').src = productImg3.replace()
        document.getElementById('productImg4').src = productImg4.replace()
        document.getElementById('productImg5').src = productImg5.replace()
        document.getElementById('productImg6').src = productImg6.replace()
  };
  function changeProductF4(){
    console.log('click F4');
    let productImg1 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1459HST_SIDE.jpg?v=1659260852';
    let productImg2 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1459HST_SIDE.jpg?v=1659260852';
    let productImg3 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1459HST_SIDE.jpg?v=1659260852';
    let productImg4 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1459HST_SIDE.jpg?v=1659260852';
    let productImg5 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1459HST_SIDE.jpg?v=1659260852';
    let productImg6 = 'https://cdn.shopify.com/s/files/1/1525/7518/products/VCKN1459HST_SIDE.jpg?v=1659260852';

        document.getElementById('productImg1').src = productImg1.replace()
        document.getElementById('productImg2').src = productImg2.replace()
        document.getElementById('productImg3').src = productImg3.replace()
        document.getElementById('productImg4').src = productImg4.replace()
        document.getElementById('productImg5').src = productImg5.replace()
        document.getElementById('productImg6').src = productImg6.replace()
  };



  // A class for building sliders from it
  class Slider {
    constructor(id, mediaQueries) {
      // Get HTML elements
      this.slider = document.querySelector(`#${id}`);
      this.sliderList = this.slider.querySelector('.slider-list-color');
      this.sliderItems = this.slider.querySelectorAll('.slider-item-color');
      this.sliderNext = this.slider.querySelector('.slider-arrow-next-color');
      this.sliderPrev = this.slider.querySelector('.slider-arrow-prev-color');

      // Get media queries
      this.mediaQueryList = [window.matchMedia(`screen and (max-width:${mediaQueries[0] - 1}px)`)];
      mediaQueries.forEach((mediaQuery) => {
        this.mediaQueryList.push(window.matchMedia(`screen and (min-width:${mediaQuery}px)`));
      });

      // Define global variables
      this.numberOfVisibleItems = null;
      this.currentItemIndex = null;
      this.sliderItemsLength = this.sliderItems.length;
      this.mediaQueryLength = this.mediaQueryList.length;

      // Add event listener: to call the run function again when screen resized
      this.mediaQueryList.forEach((mediaQuery) => {
        mediaQuery.addEventListener('change', () => {
          this.run();
        });
      });

      // Add event listener: to go to next slide
      this.sliderNext.addEventListener('click', () => {
        if (this.currentItemIndex < this.sliderItemsLength - this.numberOfVisibleItems) {
          this.currentItemIndex++;
          this.shiftSlides();
        }
      });

      // Add event listener: to go to previous slide
      this.sliderPrev.addEventListener('click', () => {
        if (this.currentItemIndex > 0) {
          this.currentItemIndex--;
          this.shiftSlides();
        }
      });
    }

    // Run the slider
    run() {
      let index = this.mediaQueryLength - 1;
      while (index >= 0) {
        if (this.mediaQueryList[index].matches) {
          // Set number of visible slides
          this.numberOfVisibleItems = index + 0;

          // Reset the slider
          this.currentItemIndex = 0;
          this.sliderList.style.transform = 'translateX(0)';

          // Set slider list width
          this.sliderList.style.width = `calc(${(100 / this.numberOfVisibleItems) * this.sliderItemsLength}% + ${(this.sliderItemsLength / this.numberOfVisibleItems) * 16}px)`;

          // Set slides width
          this.sliderItems.forEach((item) => {
            item.style.width = `${100 / this.numberOfVisibleItems}%`;
          });

          // Exit the loop
          break;
        }
        index--;
      }
    }

    // A function to shift slides left and right
    shiftSlides() {
      this.sliderList.style.transform = `translateX(-${(100 / this.sliderItemsLength) * this.currentItemIndex}%`;
    }
  }

  /* 
  Note about creating new slider:
  First parameter is the id of the HTML slider-container element of each slider.
  Second parameter is an array of the media queries (breaking points) where the number of slides increases.
  */

  // Create a new slider and run it

    new Slider('new-products-color', [576, 992]).run();

  // Create a new slider and run it
  new Slider('featured-products', [576, 768, 992]).run();

{% endjavascript %}


{% schema %}
  {
    "name": "Circle of Colors",
    "settings": [],
    "presets": [
      {
      "name": "Circle of Colors"
      }
    ]
  }
{% endschema %}